header {
  width: 100vw;
  height: 645px;
  padding: 3.75rem 10rem 8.75rem 10rem;
  background: url("../public/images/desktop/image-hero.jpg") no-repeat
    center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Black);
  opacity: 0.3;
  z-index: 1;
}

.logo {
  position: relative;
  z-index: 1000;
}

nav {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links-container {
  display: flex;
  gap: 1.5rem;
}

.nav-links {
  text-decoration: none;
  color: var(--White);
  font-weight: bold;
  position: relative;
}

.nav-links::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--White);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links:hover::after {
  opacity: 1;
  width: 40%;
}

.header-text-container {
  position: relative;
  z-index: 10;
  width: 650px;
  height: 250px;
  background: transparent;
  border: 0.1rem solid var(--White);
  color: var(--White);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  z-index: 5;
}

.h-text {
  position: relative;
  font-size: 4rem;
  font-weight: 300;
}

@media (max-width: 930px) {
  header {
    padding: 4.6875rem 2.8125rem;
  }
  .header-text-container {
    position: relative;
    z-index: 10;
    width: 70%;
    height: 250px;
    background: transparent;
    border: 0.1rem solid var(--White);
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 5;
  }
  .h-text {
    position: relative;
    font-size: 3.3rem;
    font-weight: 300;
  }
}

.logo2 {
  width: 200px;
  position: relative;
  z-index: 10;
}

.menu {
  position: absolute;
  width: 40px;
  right: 50px;
  z-index: 10000;
}

.visibility {
  visibility: initial;
}

@media (max-width: 700px) {
  nav {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: initial;
    gap: 10rem;
    padding: 4.6875rem 2.8125rem;
    background-color: var(--Black);
    z-index: 99;
  }
  .nav-links-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .nav-links {
    font-weight: 300;
    font-size: 2rem;
  }

  header {
    padding: 4.6875rem 2.8125rem;
    background: url("../public/images/mobile/image-hero.jpg") no-repeat
      center/cover;
  }
  .header-text-container {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .h-text {
    position: relative;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
  }

  .logo2 {
    width: 160px;
  }

  .menu {
    position: absolute;
    width: 30px;
    right: 50px;
    z-index: 10000;
  }
}
