@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root{
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --dekstopP: 3.75rem 10rem 8.75rem 10rem;
  --mobileP:  4.6875rem 2.8125rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--White);
  overflow-x: hidden;
}

